:root {
  --bs-black: #000;
  --bs-brown: #393423;
  --bs-grey-2: #444;
  --bs-grey-3: #ccc;
  --bs-grey-4: #222;
  --bs-grey-5: #333;
  --bs-grey-6: #999;
  --bs-cape-honey: #ffe9ab;
  --bs-cerulean: #00aced;
  --bs-code-grey: #1d1d1d;
  --bs-chathams-blue: #0f4f7e;
  --bs-chathams-blue-2: #005999;
  --bs-chathams-blue-3: #87a7be;
  --bs-chathams-blue-4: #e1ebf4;
  --bs-crete: #4b5e26;
  --bs-light-green: #eaf0dc;
  --bs-dark-burgundy: #821206;
  --bs-emperor: #4f4f4f;
  --bs-madison: #093058;
  --bs-pampas: #f6f5f0;
  --bs-pablo: #73705f;
  --bs-white: #fff;
  --bs-pablo-2: #706d61;
  --bs-purple: #44136c;
  --bs-purple-2: #956cb7;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #4b5e26;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-body-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  --bs-font-serif: "Times New Roman", Times, serif;
  --bs-link-color: #005999;
  --bs-link-hover-color: #003e6b;
}
